In [1]:
import pandas as pd 
import numpy as np

data = pd.read_csv("Toyota.csv", index_col=0, na_values=["??"])
print(data)

      Price   Age       KM FuelType   HP  MetColor  Automatic    CC  Doors  \
0     13500  23.0  46986.0   Diesel   90       1.0          0  2000  three
1     13750  23.0  72937.0   Diesel   90       1.0          0  2000      3
2     13950  24.0  41711.0   Diesel   90       NaN          0  2000      3
3     14950  26.0  48000.0   Diesel   90       0.0          0  2000      3
4     13750  30.0  38500.0   Diesel   90       0.0          0  2000      3
...     ...   ...      ...      ...  ...       ...        ...   ...    ...
1431   7500   NaN  20544.0   Petrol   86       1.0          0  1300      3
1432  10845  72.0      NaN   Petrol   86       0.0          0  1300      3
1433   8500   NaN  17016.0   Petrol   86       0.0          0  1300      3
1434   7250  70.0      NaN      NaN   86       1.0          0  1300      3
1435   6950  76.0      1.0   Petrol  110       0.0          0  1600      5

      Weight
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]

In [2]:
#Print the data type of data
print(data.dtypes)

Price          int64
Age          float64
KM           float64
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [7]:
# check the data info value are non-null
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB
None

In [8]:
# Display the unique value in column 'KM'
# print("************************")
null_values = np.unique(data["KM"])
print(null_values)

[1.0000e+00 1.5000e+01 2.2500e+02 ... 2.3294e+05 2.4300e+05        nan]

In [9]:
# Replace the value
# print("********************Before************")
print(np.unique(data["Doors"]))
# print("********************Before Replace************")

['2' '3' '4' '5' 'five' 'four' 'three']

In [11]:
# data["Doors"].replace("three", "3", inplace=True)
# data["Doors"].replace("four", "4", inplace=True)
# data["Doors"].replace("five", "5", inplace=True)

C:\Users\Acer\AppData\Local\Temp\ipykernel_5420\1235259281.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Doors"].replace("three", "3", inplace=True)

In [12]:
# print("********************After replace************")
print(np.unique(data["Doors"]))

['2' '3' '4' '5']

In [16]:
# Create a data copy
data_copy = data.copy()

data_copy.insert(10, "Price_Class", "0")
print(data_copy)

for i in range(len(data_copy["Price"])):
      if data_copy["Price"][i] <= 8450:
            data_copy["Price_class"][i] = "Low"
      elif data_copy["Price"][i] > 11950:
            data_copy["Price_class"][i] = "High"
      else:
            data_copy["Price_class"][i] = "Medium"

      print(data_copy)

      Price   Age       KM FuelType   HP  MetColor  Automatic    CC Doors  \
0     13500  23.0  46986.0   Diesel   90       1.0          0  2000     3
1     13750  23.0  72937.0   Diesel   90       1.0          0  2000     3
2     13950  24.0  41711.0   Diesel   90       NaN          0  2000     3
3     14950  26.0  48000.0   Diesel   90       0.0          0  2000     3
4     13750  30.0  38500.0   Diesel   90       0.0          0  2000     3
...     ...   ...      ...      ...  ...       ...        ...   ...   ...
1431   7500   NaN  20544.0   Petrol   86       1.0          0  1300     3
1432  10845  72.0      NaN   Petrol   86       0.0          0  1300     3
1433   8500   NaN  17016.0   Petrol   86       0.0          0  1300     3
1434   7250  70.0      NaN      NaN   86       1.0          0  1300     3
1435   6950  76.0      1.0   Petrol  110       0.0          0  1600     5

      Weight Price_Class
0       1165           0
1       1165           0
2       1165           0
3       1165           0
4       1170           0
...      ...         ...
1431    1025           0
1432    1015           0
1433    1015           0
1434    1015           0
1435    1114           0

[1436 rows x 11 columns]

KeyError: 'Price_class'