In [1]:
import pandas as pd

data = {"Name": ["John", "Peter", "Lisa"],
        "Age":[25,28,31],
        "Salary":[300000,45000,25000]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25  300000
1  Peter   28   45000
2   Lisa   31   25000

In [5]:
import pandas as pd

data = pd.read_csv("Toyota.csv")
print(data)
print(data.head(10))
print(data.tail(10))

      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
0              0  13500  23.0  46986   Diesel   90       1.0          0  2000
1              1  13750  23.0  72937   Diesel   90       1.0          0  2000
2              2  13950  24.0  41711   Diesel   90       NaN          0  2000
3              3  14950  26.0  48000   Diesel   90       0.0          0  2000
4              4  13750  30.0  38500   Diesel   90       0.0          0  2000
...          ...    ...   ...    ...      ...  ...       ...        ...   ...
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

      Doors  Weight
0     three    1165
1         3    1165
2         3    1165
3         3    1165
4         3    1170
...     ...     ...
1431      3    1025
1432      3    1015
1433      3    1015
1434      3    1015
1435      5    1114

[1436 rows x 11 columns]
   Unnamed: 0  Price   Age     KM FuelType    HP  MetColor  Automatic    CC  \
0           0  13500  23.0  46986   Diesel    90       1.0          0  2000
1           1  13750  23.0  72937   Diesel    90       1.0          0  2000
2           2  13950  24.0  41711   Diesel    90       NaN          0  2000
3           3  14950  26.0  48000   Diesel    90       0.0          0  2000
4           4  13750  30.0  38500   Diesel    90       0.0          0  2000
5           5  12950  32.0  61000   Diesel    90       0.0          0  2000
6           6  16900  27.0     ??   Diesel  ????       NaN          0  2000
7           7  18600  30.0  75889      NaN    90       1.0          0  2000
8           8  21500  27.0  19700   Petrol   192       0.0          0  1800
9           9  12950  23.0  71138   Diesel  ????       NaN          0  1900

   Doors  Weight
0  three    1165
1      3    1165
2      3    1165
3      3    1165
4      3    1170
5      3    1170
6      3    1245
7      3    1245
8      3    1185
9      3    1105
      Unnamed: 0  Price   Age     KM FuelType   HP  MetColor  Automatic    CC  \
1426        1426   9950  78.0  30964   Petrol  110       NaN          1  1600
1427        1427   8950   NaN  29000   Petrol   86       1.0          1  1300
1428        1428   8450  72.0     ??   Petrol   86       NaN          0  1300
1429        1429   8950  78.0  24000   Petrol   86       1.0          1  1300
1430        1430   8450  80.0  23000   Petrol   86       0.0          0  1300
1431        1431   7500   NaN  20544   Petrol   86       1.0          0  1300
1432        1432  10845  72.0     ??   Petrol   86       0.0          0  1300
1433        1433   8500   NaN  17016   Petrol   86       0.0          0  1300
1434        1434   7250  70.0     ??      NaN   86       1.0          0  1300
1435        1435   6950  76.0      1   Petrol  110       0.0          0  1600

     Doors  Weight
1426     3    1080
1427     3    1045
1428     3    1015
1429     5    1065
1430     3    1015
1431     3    1025
1432     3    1015
1433     3    1015
1434     3    1015
1435     5    1114

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1336 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1286 non-null   float64
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 123.5+ KB
None

In [8]:
data.describe()

,Unnamed: 0,Price,Age,MetColor,Automatic,CC,Weight
count,1436.000000,1436.000000,1336.000000,1286.000000,1436.000000,1436.000000,1436.00000
mean,717.500000,10730.824513,55.672156,0.674961,0.055710,1566.827994,1072.45961
std,414.681806,3626.964585,18.589804,0.468572,0.229441,187.182436,52.64112
min,0.000000,4350.000000,1.000000,0.000000,0.000000,1300.000000,1000.00000
25%,358.750000,8450.000000,43.000000,0.000000,0.000000,1400.000000,1040.00000
50%,717.500000,9900.000000,60.000000,1.000000,0.000000,1600.000000,1070.00000
75%,1076.250000,11950.000000,70.000000,1.000000,0.000000,1600.000000,1085.00000
max,1435.000000,32500.000000,80.000000,1.000000,1.000000,2000.000000,1615.00000

In [9]:
print(data.isnull()

      Unnamed: 0  Price    Age     KM  FuelType     HP  MetColor  Automatic  \
0          False  False  False  False     False  False     False      False
1          False  False  False  False     False  False     False      False
2          False  False  False  False     False  False      True      False
3          False  False  False  False     False  False     False      False
4          False  False  False  False     False  False     False      False
...          ...    ...    ...    ...       ...    ...       ...        ...
1431       False  False   True  False     False  False     False      False
1432       False  False  False  False     False  False     False      False
1433       False  False   True  False     False  False     False      False
1434       False  False  False  False      True  False     False      False
1435       False  False  False  False     False  False     False      False

         CC  Doors  Weight
0     False  False   False
1     False  False   False
2     False  False   False
3     False  False   False
4     False  False   False
...     ...    ...     ...
1431  False  False   False
1432  False  False   False
1433  False  False   False
1434  False  False   False
1435  False  False   False

[1436 rows x 11 columns]

In [10]:
print(data.isnull().sum())

Unnamed: 0      0
Price           0
Age           100
KM              0
FuelType      100
HP              0
MetColor      150
Automatic       0
CC              0
Doors           0
Weight          0
dtype: int64