In [3]:
# Handling duplicate value in pandas

import pandas as pd

data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [6]:
# Duplicate data show
print(data["EEID"].duplicated())

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: EEID, dtype: bool

In [8]:
print(data["EEID"].duplicated().sum())

2

In [13]:
print(data.drop_duplicates("EEID"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [14]:
# Working with missing data in Pandas

import pandas as pd

data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [16]:
# check the duplicate data and show
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [17]:
# Drop the duplicate data
print(data.dropna())

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [18]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [20]:
import numpy as np
print(data.replace(np.nan,30000))

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali  30000  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     30000      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

In [32]:
data["salary"] = data["salary"].replace(np.nan,26000)
print(data)
print(data["salary"].mean())

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0
26000.0

In [33]:
print(data["salary"].mean())

26000.0

In [34]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
6  EMP02     rohit      M  25000.0

In [35]:
# Show the csv full file on display
data = pd.read_csv("company1.csv")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [36]:
# find the mean of total in table
print(data["salary"].mean())

24400.0

In [38]:
#show the full data on display
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  26000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  26000.0
6  EMP02     rohit      M  25000.0

In [40]:
# Last values are come in first
print(data.fillna(method = "bfill"))

    EEID      Name gender   salary
0  EMP01    ayushi      F  26000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M  26000.0
6  EMP02     rohit      M  25000.0

C:\Users\Acer\AppData\Local\Temp\ipykernel_10312\2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))

In [ ]:
#Video time is 40.38 stop